/*** General Properties ***/
html,
body,
#map {
    width: 100%;
    height: 100%;
}

/* fix nav hanging over map */
body {
    padding-top: 51px;
}

ul {
    list-style-type: none;
}

ul,
li {
    padding: 0;
}

/*** Nav ***/
.navbar-default {
    background-color: #585E90;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:focus{
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #FFFF00;
}

.navbar .btn-default:hover {
    background-color: #FFFF00;
}

/*** Geocode Control ***/
.geocoder-control-expanded, 
.leaflet-touch .geocoder-control-expanded {
    margin-top: 4px;
}

/*** Leaflet Controls ***/
.leaflet-control-locate a {
    color: #000;
}

/*** Layer Popup ***/
.feat-popup {
    font-size: 1.1em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

.feat-popup h2 {
    font-size: 1.4em;
    text-align: center;
}

.feat-popup h4 {
    font-size: 1.15em;
    margin: 15px 0;
}


/*** Media Query ***/
/* 314px */
@media screen and (max-width: 314px) {
    body {
        padding-top: 100px;
    }
}

/* 767px */
@media screen and (max-width: 767px) {    
    .navbar-toggle,
    .navbar-default .navbar-toggle:focus{
        background: #fff;
    }
    
    .navbar-default .navbar-toggle:active {
        background-color: #FFFF00;
    }
    
    #geocodeForm {
        min-height: 100px;
    }
    
    #geocodeForm h5 {
        margin-left: 15px;
        color: #fff;        
    }
    
    #mobileGeocodeContainer {
        min-height: 200px;
    }
    
    div.geocoder-control-suggestions.leaflet-bar {
        max-height: 200px;
    }
    
    #mobileGeocodeContainer h5 {
        color: #ddd;
        padding-left: 15px;
        font-weight: bold;
        font-size: 1.1em;
    }
    
    .geocoder-control .geocoder-control-expanded .leaflet-control {
        z-index: 2000;
    }
    
    .geocoder-control-expanded, 
    .leaflet-touch .geocoder-control-expanded {
        margin: 10px 0;
        left: 15px;
        width: 75%;
        min-width: 275px;
    }    
}