/*** General Properties ***/
html,
body,
#map {
    width: 100%;
    height: 100%;
}

/* fix nav hanging over map */
body {
    padding-top: 51px;
}

/*** Header & Nav ***/
header {
    max-height: 51px;
}

header h1 {
    color: #fff;
}

.navbar {
    background-color: #52655B;
}

nav ul.dropdown.dropdown-menu {
    right: 10px;
    left: inherit;
}

nav button.dropdown-toggle {
    color: #000;
    background-color: #fff;
    padding: 0.25em;
    margin-top: -10px;
}

/*** Basemap Selector Modal ***/
div.modal-body {
    min-height: 225px;
    max-height: 350px;
    overflow-y: auto;
}

#basemapModal div.modal-body p {
    margin-bottom: 25px;
}

/*** Leaflet Controls ***/
.leaflet-control-locate a {
    color: #000;
}

/*** Layer Tooltip ***/
.feat-tooltip {
    font-weight: bold;
}

/*** Layer Popup ***/
.feat-popup {
    font-size: 1.1em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.feat-popup h3 {
    font-size: 1.25em;
    text-align: center;
}

/*** Media Query ***/
/* 314px */
@media screen and (max-width: 314px) {
    body {
        padding-top: 100px;
    }
}

/* 767px */
@media screen and (max-width: 767px) {
}